body {
  margin: auto;
  width: 80%;
  background-image: linear-gradient(red, yellow, green);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  width: 25%;
  float: left;
  margin: 0 1em 1em 0;
}

.sidebar {
  background-color: white;
  padding: 1em;
  float: right;
  margin: 0 0 1em 1em;
}
